/* *{
    margin-left: 20px;
    margin-right: 20px;
} */
body{
    margin-top:0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.info p{
    margin-top: 10%;
    text-align: center;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.70);
    text-transform: capitalize;
}
.box{
    display: flex;
    flex-direction: column  ;
    margin-top: 5%;
    align-items: center;
    align-content: center;
}
.element{
    width: 25%;
}
.aboutElement{
    margin-left: 80px;
    margin-right: 20px;
    font-weight: 700;
    margin-top: 5%;
    font-size: 1.5rem;
}
.answer{
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 1%;
}
.dials{
    width: 50%;
}

.dials img{
    width: 65%;
}
.foot{
    margin-top: 15%;
}
.last{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.answer .lastDial{
    width: 30%;
}

@media(max-width: 998px){
    .info p{
        font-size: 1.5rem;
    }

    .last{
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        align-content: center;
        margin-top: 1rem;
    }

    .dials img{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .aboutElement{
        margin-top: 3rem;
        font-size: 1.2rem;
        margin-left: 40px;
    }

    .element{
        width: 60%;
    }

    .answer{
        font-size: .8rem;
    }
    .answer{
        margin-left: 40px;
    }
}