.head{  
    height: 540px;
    margin-top: 0;
    border: 2px solid rgba(221, 174, 113, 0.103);
    text-align: center ;
}

.bottom-right {
    position: absolute;
    bottom: 30px;
    left: 40%;
    text-align: center;
    font-size: 30pt;
    font-family: 'Lucida console';
    text-decoration:double;
    text-shadow: 30px;
    color: aliceblue;
  }

.box{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}
body{
    background-color: black;
}
.item{
    height: 500px;
    width: 400px;
    margin: 10px;
    margin-top: 90px;
    border: solid 2px aliceblue;
}
.text{
    text-align: center;
    font-size: 18pt;
    color: aliceblue;
}
img{
    height:500px;
}

.two{
    width: 332px;
}

.three{
    width: 307px;
}
