<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link defer rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Piazzolla:wght@200;300;400;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/Logo.png" type="image/png">
</head>
<body>
    <div class="navbar">
        {{>nav}}
    </div>
    <div class="start">
        <p>About Us</p>
    </div>
    <hr class="before">
    <div class="container">
        <div class="photo"><img src="../../images/about1.jpg" alt=""></div>
        <div class="about">Hello there! My self Harsh Kumar and currently I am in my 3rd year of Btech Computer Science Engineering. <br> 
        I started photography back in 2017 and I learned all the basics starting from handling camera to understanding how camera works from youtube. <br>
        I have clicked a lot of photos and while practising, I have learned a lot things that can only be learned by actually implementing all the techniques in real life. I have posted some of my photos under the gallery section so, please do checkout and I hope you'll like them.</div>
    </div>
    <div class="aboutGears">
        <div class="gear">Gears I Use</div>
        {{!-- <hr class="before"> --}}
        <div class="product1">
            <div class="camera">
                <img src="../../images/camera.png" alt="">
            </div>
            <div class="aboutCamera">I use <b>Nikon D3400</b> which was launched in 2016. It has a sensor of 24.2 megapixel <br>
            It is a succesor of Nikon D3300 and right now it's production has stopped as Nikon D3500 has replaced it.</div>
        </div>
        <div class="product1">
            <div class="aboutlens">I use <b>Nikon 18-55 & 70-300 mm</b> lenses in which 18-55mm has f/3.5-5.6 and 70-300mm has f/4.5-6.3. </div>
            <div class="lens">
                <img src="../../images/lens.png" alt="">
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>