<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harsh Kumar | Event Photography</title>
    <link defer rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Piazzolla:wght@200;300;400;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/Logo.png" type="image/png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="navbar">
        {{>nav}}
    </div>
    <div class="content">
        <div class="first">Event Photography</div>
        <div class="back"><a href="/"><i class="fas fa-backward"></i>Back</a></div>
        <hr class="before">
        <img src="../../images/event/_DSC0269.jpg" alt="">
        <img src="../../images/event/_DSC0302.jpg" alt="">
        <img src="../../images//event/_DSC0880.jpg" alt="">
        <img src="../../images//event/_DSC0828 (1).jpg" alt="">
        <img src="../../images/event/_DSC0522.jpg" alt="">
        <img src="../../images/event/_DSC0004.jpg" alt="">
        <img src="../../images/event/_DSC0424.jpg" alt="">
        <img src="../../images/event/_DSC0422.jpg" alt="">
        <img src="../../images/event/_DSC0340.JPG" alt="">
        <img src="../../images/event/_DSC0191.jpg" alt="">
        <img src="../../images/event/_DSC0126 (2).jpg" alt="">
        <img src="../../images/event/_DSC0166.jpg" alt="">
        <img src="../../images/event/_DSC0265.jpg" alt="">
        <img src="../../images/event/_DSC0206.jpg" alt="">
        <img src="../../images/event/_DSC0033 (1).jpg" alt="">
        <img src="../../images/event/_DSC0361.jpg" alt="">
    </div>
    <div class="footer">{{>footer}}</div>
</body>
</html>