<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harsh Kumar | Wildlife Photography</title>
    <link defer rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Piazzolla:wght@200;300;400;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/Logo.png" type="image/png">
</head>
<body>
    <div class="navbar">
        {{>nav}}
    </div>
    <div class="content">
        <div class="first">Wildlife Photography</div>
        <hr class="before">
        <img src="../../images/Wildlife/1.jpeg" alt="">
        <img src="../../images/Wildlife/2.jpeg" alt="">
        <img src="../../images/Wildlife/3.jpg" alt="">
        <img src="../../images/Wildlife/4.jpg" alt="">
        <img src="../../images/Wildlife/5.jpg" alt="">
        <img src="../../images/Wildlife/6.jpg" alt="">
        <img src="../../images/Wildlife/7.jpg" alt="">
        <img src="../../images/Wildlife/8.jpg" alt="">
        
    
        
    </div>
    <div class="footer">{{>footer}}</div>
</body>
</html>