<div class="nameBlock">
                    <div class="name">Harsh Kumar</div>
                    <hr class="before">
                    <nav>
                        <ul>
                            <li><a href="">Photography 101</a></li>
                            <li><a href="">Gallery</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </nav>
                </div>